{% extends "layout.html" %}

{% block title %}
TexTec
{% endblock %}

{% block body %}

<h2>Welcome to TexTec!</h2>
{% with messages = get_flashed_messages(category_filter=["success"]) %}
    {% if messages %}
    <div class="alert alert-success alert-dismissable" role="alert">
      {% for message in messages %}
      {{ message }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      {% endfor %}
      </div>
    {% endif %}
  {% endwith %}

{% with errors = get_flashed_messages(category_filter=["error"]) %}
    {% if errors %}
    <div class="alert alert-danger alert-dismissable" role="alert">
      {% for message in errors %}
      {{ message }}
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      {% endfor %}
      </div>
    {% endif %}
  {% endwith %}

</div>

<ul>
  {% for reference in references %}
    <li style="display: flex">
      <div>
        {{ reference }} 
      </div>
      {% if not reference.done %}
        <form action="/delete/{{ reference.reference.id }}" method="post" style="margin-left: 10px;">
          <button type="submit">Delete</button>
        </form>
        <form action="/edit/{{ reference.reference.id }}" method="get" style="margin-left: 10px;">
          <button type="submit">Edit</button>
        </form>
      {% endif %}
    </li>
  {% endfor %}
</ul>

<div>
  <form id="reference-form" action="/new" method="post" onsubmit="return validateSelection()">
    <label for="reference-type">Add a new reference:</label>
    <select id="reference-type" name="type" required>
      <option value="" disabled selected>Select type</option>
      <option value="misc">Misc</option>
      <option value="article">Article</option>
      <option value="book">Book</option>
    </select>
    <button type="submit">Go</button>
  </form>
</div>

<script>
  function validateSelection() {
    const selectElement = document.getElementById("reference-type");
    if (selectElement.value === "") {
      alert("Please select a reference type before proceeding.");
      return false;
    }
    return true;
  }
</script>

{% if references %}
  <a href="/export_bibtex_file">
    <button>Export BibTeX file</button>
  </a>
{% endif %}

{% endblock %}