{% extends "layout.html" %}

{% block title %}
TexTec
{% endblock %}

{% block body %}

<h2>Welcome to TexTec!</h2>
{% with messages = get_flashed_messages(category_filter=["success"]) %}
    {% if messages %}
    <div class="alert alert-success alert-dismissable fade show" role="alert">
      <ul>
      {% for message in messages %}
      <li>{{ message }} <a href="/">Close</a></li>
      {% endfor %}
      </ul>
      </div>
    {% endif %}
  {% endwith %}
  things still unfinished: {{ unfinished }}
</div>

<ul>
  {% for reference in references %}
    <li style="display: flex">
      <div>
        {{ reference }} 
      </div>
      {% if not reference.done %}
        <form action="/delete/{{ reference.id }}" method="post" style="margin-left: 10px;">
          <button type="submit">Delete</button>
        </form>
      {% endif %}
    </li>
  {% endfor %}
</ul>

<div>
  <a href="/new">Add a new reference </a>
</div>

{% endblock %}