{% extends "layout.html" %}

{% block title %}
Add reference
{% endblock %}

{% block body %}

<h2>Add a new reference</h2>

<form action="/create" method="post">
  {% with errors = get_flashed_messages(category_filter=["error"]) %}
    {% if errors %}
      <div class="alert alert-danger alert-dismissable" role="alert" id="error-alert">
      {% for message in errors %}
      {{ message }}
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      {% endfor %}
      </div>
    {% endif %}
  {% endwith %}
  <script>
    setTimeout(function() {
      var errorAlert = document.getElementById('error-alert');
      if (errorAlert) {
        errorAlert.style.display = 'none';
      }
    }, 3000); 
  </script>

  {% for field in fields %}
  {% if field in required %}
  <label class="required" for="field">{{ field }}:</label><br />
  <input type="text" name={{field}} id={{field}} required>
  <br />
  {% else %}
  <label class="optional" for="field">{{ field }}:</label><br />
  <input type="text" name={{field}} id={{field}}>
  <br />
  {% endif %}
  {% endfor %}
  <input type="hidden" id="type" name="type" value={{type}}>
  <button type="submit">
    Save
  </button>
</form>
<a href="/">
  <button>Cancel</button>
</a>

{% endblock %}