{% extends "layout.html" %}

{% block title %}
Add reference
{% endblock %}

{% block body %}

<h2>Add a new reference</h2>

<form action="/create" method="post">
  {% with errors = get_flashed_messages(category_filter=["error"]) %}
    {% if errors %}
      <div class="alert alert-danger alert-dismissable fade show" role="alert">
      <ul>
      {% for message in errors %}
        <li>{{ message }} <a href="/new">Close</a></li>
      {% endfor %}
      </ul>
      </div>
    {% endif %}
  {% endwith %}
  <label class="required" for="type">Type:</label><br />
  <input type="text" name="type" id="type" required>
  <br />
  <label class="required" for="author">Author:</label><br />
  <input type="text" name="author" id="author" required>
  <br />
  <label class="required" for="title">Title:</label><br />
  <input type="text" name="title" id="title" required>
  <br />
  <label class="required" for="journal">Journal:</label><br />
  <input type="text" name="journal" id="journal" required>
  <br />
  <label class="required" for="year">Year:</label><br />
  <input type="text" name="year" id="year" required>
  <br />
  <label for="pp">Pages pertinent:</label><br />
  <input type="text" name="pp" id="pp">
  <br /><br  />
  <button type="submit">
    Save
  </button>
</form>

{% endblock %}