{% extends "layout.html" %}

{% block title %}
Add reference
{% endblock %}

{% block body %}

<h2>Add a new reference</h2>

<form action="/create" method="post">
  {% with errors = get_flashed_messages(category_filter=["error"]) %}
    {% if errors %}
      <div class="alert alert-danger alert-dismissable fade show" role="alert">
      <ul>
      {% for message in errors %}
        <li>{{ message }} <a href="/new">Close</a></li>
      {% endfor %}
      </ul>
      </div>
    {% endif %}
  {% endwith %}

  {% for field in fields %}
  {% if field in required %}
  <label class="required" for="field">{{ field }}:</label><br />
  <input type="text" name={{field}} id={{field}} required>
  <br />
  {% else %}
  <label for="field">{{ field }}:</label><br />
  <input type="text" name={{field}} id={{field}}>
  <br />
  {% endif %}
  {% endfor %}
  <input type="hidden" id="type" name="type" value={{type}}>
  <button type="submit">
    Save
  </button>
</form>

{% endblock %}