{% extends "layout.html" %}

{% block title %}
Add reference
{% endblock %}

{% block body %}

<h2>Add a new reference</h2>

<form action="/create_todo" method="post">
  {% with messages = get_flashed_messages() %}
    {% if messages %}
      <ul>
      {% for message in messages %}
        <li>{{ message }}</li>
      {% endfor %}
      </ul>
    {% endif %}
  {% endwith %}
  <label for="author">Author:</label>
  <input type="text" name="author" id="author" required>
  <br>
  <label for="title">Title:</label>
  <input type="text" name="title" id="title" required>
  <br>
  <label for="journal">Journal:</label>
  <input type="text" name="journal" id="journal" required>
  <br>
  <label for="year">Year:</label>
  <input type="text" name="year" id="year" required>
  <br>
  <button type="submit">
    Save
  </button>
</form>

{% endblock %}