@import url('https://fonts.googleapis.com/css?family=Poppins');
/*.required::after {
    content: ' *';
    color: firebrick;
}*/
:root {
    --primary-color: #bfc9f5;
    --secondary-color: #98a5e2;
    --hover-color: #37376d;
}

h1 {
    font-size: 3rem;
    text-align: center;
    margin-top: 15px;
}
h2 {
    font-size: 2rem;
    text-align: left;
    margin-top: 15px;
}

form, ul, button {
    font-size: 1.3rem;
}

button:hover {
    color: var(--hover-color);
    transition: background-color 0.2s, color 0.2s;
}

button {
    margin: 5px;
    padding: 5px 5px;
}

.optional::after {
    content: '       (optional)';
    color: rgb(99, 99, 99);
    font-size: 50%;
}

.top-row {
    display: flex;
    align-items: center;
    gap: 15px;
    justify-content: flex-start;
    margin-bottom: 30px;
}

.top-row form, .top-row a {
    margin: 5px;
}

.reference-section{
    margin: 5px;
}

input {
    margin-left: 20px;
}

body {
    font-family: 'Poppins';
    background-color: var(--secondary-color);
}

.search-and-export {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
}

.search-form {
    display: flex;
    align-items: center;
}

form {
    font-size: 1.3rem;
    border: 1px solid var(--primary-color);
    border-radius: 5px;
    background-color: var(--primary-color);
    align-items: center;
    text-align: left;
    gap: 10px;
}

.search-form input[type="text"] {
    margin-right: 5px;
}

.alert {
    position: fixed;
    top: 132px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000;
    opacity: 1;
    transition: opacity 1s ease-out;
    max-width: 90%;
}

.hidden {
    opacity: 0;
}

li {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 5px;
    margin-bottom: 10px;
}

li div:first-child {
    display: flex;
    gap: 5px;
}

li div:last-child {
    margin-left: 5px;
}

.top-row, .reference-section, .title, .form {
    padding: 10px;
    border: 1px solid var(--primary-color);
    border-radius: 5px;
    background-color: var(--primary-color);
}
